
.not-active {
  pointer-events: none;
  cursor: default;
}

#visibility {
  visibility: visible;
}

.jumbotron {
  padding: 2rem;
}


/* Services-cards Section
--------------------------------*/
#services-cards {
  padding: 60px 0 60px 0;
}

#services-cards .box {
  padding: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  text-align: center;
}

#services-cards h3 {
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 28px;
}

#services-cards h4 {
  font-size: 46px;
  color: #1dc8cd;
  font-weight: 300;
}

#services-cards h4 sup {
  font-size: 20px;
  top: -20px;
}

#services-cards h4 span {
  color: #bababa;
  font-size: 20px;
}

#services-cards ul {
  padding: 0;
  list-style: none;
  color: #999;
  text-align: left;
  line-height: 20px;
}

#services-cards ul li {
  padding-bottom: 12px;
}

#services-cards ul i {
  color: #1dc8cd;
  font-size: 18px;
  padding-right: 4px;
}

#services-cards .get-started-btn {
  background: #515e61;
  display: inline-block;
  padding: 6px 30px;
  border-radius: 20px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 1281px) {
  

  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  

  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  

  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  

  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  

  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  

  
}